/*heading*/
.container > h1{
	font-weight: 300;
	margin-left: 20px;
}
.container h1 span{
	margin-right: 20px;
}
.app-content .row{
	margin-top: 30px;
}
.err-msg{
	padding-left: 40px;
}
.app-content h4{
	margin-bottom: 10px;
}
/*species button*/
#species-button, .app-content input{
	width: 200px;
	border: solid 3px rgba(255, 193, 7, 0.69);
	background-color: transparent;
}
.app-content .has-error{
	border-color: rgb(251, 88, 101);
}
.err-msg{
	color: rgb(251, 88, 101);
	font-size: 12px;
}
/*.btn-group button{
	width: 30px;
}*/
text-angular .ta-text{
	height: 200px;
}
/*report preview*/
#report-preview{
	right: 30px;
	top: 50px;
	height: 90vh;
	overflow-y: auto;
	position: fixed;
	font-size: 14px;
}
/*#report-preview img{
	width: 90%;
	max-height: 200px;
}*/
#photo-preview{
	margin-bottom: 10px;
}
#comment-preview{
	font-size: 12px;
}
#function-row a{
	margin: 10px 20px;
	width: 80px;
}
#report-preview p{
	margin: 0;
}
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:1s linear all;
  opacity:0;
}
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
/*text angular css fix*/
text-angular .ta-scroll-window img{
	max-width: 200px;
}
text-angular div[contenteditable="true"]{
	height: 100%;

	overflow-y: auto;
}
text-angular .ta-resizer-handle-overlay{
	position: absolute;
}
text-angular p{
	margin: 0;
}
.preview-mobile{
	color: rgba(22, 64, 90, 0.68);
	cursor: pointer;
}



/*card Author: John Doe*/
/*Code pen*/
.wrapper {
    max-width: 400px;
    margin: 50px auto;
    padding-left: 1em;
    padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius { 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
        0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0, 0.24);      
}

/**
 * Card Styles
 */

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
}

.card img{
	max-width: 290px;
}

.card__padding {
    padding: 1.6rem;
}
 
.card__image {
    min-height: 100px;
    background-color: #eee;
}
    .card__image img {
        width: 100%;
        max-width: 100%;
        display: block;
    }

.card__content {
    position: relative;
}

/* card meta */
.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

/* card article */
.card__article{
	padding: 10px 15px;
}
.card__article a {
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 15px;
}
    .card__article a:hover {
        color: #2980b9;
    }

.card__article .card-text{
    color: black;
}
.card__article p{
	margin: 0;
}
.card__numofbirds{
	color:  rgb(142, 142, 142);
}
/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}
     
.card__author {}

    .card__author img,
    .card__author-content {
        display: inline-block;
        vertical-align: middle;
    }

    .card__author img{
        border-radius: 50%;
        margin-right: 0.6em;
    }

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
    .card__social--active {
        visibility: visible;
        /*z-index: 3;*/
        transform: translateZ(0);
        transform: translateX(-48px);
        transition: transform 0.35s ease;
    }

.share-toggle {
    z-index: 2;
}
.share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #3498db;
}
    .share-toggle.share-expanded:before {
        content: "\f00d";
    }

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow: 
            0 2px 4px rgba(0,0,0, 0.12),
            0 2px 4px rgba(0,0,0, 0.24);
}
    .share-icon:hover,
    .share-icon:focus {
        box-shadow: 
            0 3px 6px rgba(0,0,0, 0.12),
            0 3px 6px rgba(0,0,0, 0.24);

        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

.facebook {
    background-color: #3b5998; 
}
.twitter {
    background-color: #00abe3; 
}
.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}

.facebook:hover,
    .twitter:hover,
    .googleplus:hover {
        color: #eee;
    }
